@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Apply css for background login and signup page */
  .overlay-background-authenticate {
    background: #e0eafc;
    background: -webkit-linear-gradient(to bottom, #cfdef3, #e0eafc);
    background: linear-gradient(to bottom, #cfdef3, #e0eafc);
  }
  /* Gradient for background business list */
  .background-overlay-list-bussinesss {
    background: transparent
      linear-gradient(6deg, #fff, #c4ffdd 100%, rgba(195, 255, 221, 0.702) 0) 0
      0 no-repeat padding-box;
  }

  /* Break word when text too long */
  .multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  /* Admin button */
  .bg-button-admin-details {
    background-color: #0a65cc;
  }

  .bg-button-admin-details:hover {
    background-color: #094dab;
  }

  .bg-button-admin-approved {
    background-color: #fdf6b2;
  }

  .bg-button-admin-approved:hover {
    background-color: #e6db7c;
  }

  .bg-button-admin-rejected {
    background-color: #fce8f3;
  }

  .bg-button-admin-rejected:hover {
    background-color: #f3aed4;
  }
  /* =================================================================== */
}

html,
body {
  max-width: 100%;
}

/* Override flowbite css */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: transparent;
  border-color: currentColor;
}

button {
  --tw-ring-color: transparent;
  border-color: currentColor;
}

/* Scrollbar CSS */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.12);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

ul {
  list-style-type: disc;
  margin-top: 0;
  margin-bottom: 1em;
}

li {
  margin-left: 1em;
}

/* Skeleton */
.skeleton {
  background-image: linear-gradient(
    110deg,
    #ffffff 8%,
    #eeeeee 18%,
    #fefefefe 53%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Show element hidden */
.group:hover .show {
  display: block;
}

/* Responsive For Mobile Device */

@media (min-width: 1024px) {
  /* Info Section/ */
  .info-section {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1023px) and (min-width: 640px) {
  /* Info Section/ */
  .info-section {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 639px) {
  /* Info Section/ */
  .info-section {
    display: flex;
    flex-direction: column;
  }
}
